/* Define Custom CSS Variable */

:root{

  --bg-black-900:#000;
  --bg-black-100:#DDD;
  --bg-black-50:#EFF0F4;
  --bg-opacity : rgba(255,255,255,.5);
  --text-black-900:#000;
  --text-black-700:#555;
  --text-black-600:#666;
  --text-black-300:#999;
  --outer-shadow : 3px 3px 3px #D0D0D0, -3px -3px 3px #F8F8F8;
  --outer-shadow-0:0 0 0 #D0D0D0, 0 0 0 #f8f8f8;
  --inner-shadow:inset 3px 3px 3px #D0D0D0,inset -3px -3px 3px #F8F8F8;
  --inner-shadow-0: inset 0 0 0 #D0D0D0, inset 0 0 0 #f8f8f8
}


/* Dark Mode */
body.dark{
  --bg-black-900:#FFF;
  --bg-black-100:#353535;
  --bg-black-50:#2b2b2f;
  --bg-opacity : rgba(43,44,47,.5);
  --text-black-900:#FFF;
  --text-black-700:#EEE;
  --text-black-600:#BBB;
  --outer-shadow : 3px 3px 3px #222327, -3px -3px 3px #363636;
  --outer-shadow-0:0 0 0 #222327, 0 0 0 #363636;
  --inner-shadow:inset 3px 3px 3px #222327,inset -3px -3px 3px #363636;
  --inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636
}